body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://img.freepik.com/free-photo/fantastic-seascape-with-ripples_1232-424.jpg?w=1380&t=st=1691605928~exp=1691606528~hmac=ac440ffccf49678f6e029cc6e64a4394ae0ff1689d46134aa5c7224fd2f72fd3");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.page {
  text-align: center;
  align-content: center;
}
