body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-image: url("https://img.freepik.com/free-photo/water-ripple-texture-background-blue-wallpaper-design_53876-160345.jpg?w=826&t=st=1697926008~exp=1697926608~hmac=28507d995177bf802f9a53b2f21218b5fb0361f0132d5559dd64ae63af9a79e1");
  background-image: url("https://img.freepik.com/free-photo/water-ripple-texture-background-blue-wallpaper-design_53876-160345.jpg?w=826&t=st=1697926008~exp=1697926608~hmac=28507d995177bf802f9a53b2f21218b5fb0361f0132d5559dd64ae63af9a79e1"); */
  background-image: url("https://img.freepik.com/free-photo/macro-shot-transparent-liquid-splash-with-empty-space_23-2148469592.jpg?w=996&t=st=1697926012~exp=1697926612~hmac=1f88d114187c81f4497dd565bffc299d613a727555e4b6fbbfdcbe0f97a15ce4");
  /* background-image: url("https://img.freepik.com/free-photo/water-texture-background-blue-abstract-design_53876-145219.jpg?w=826&t=st=1697925806~exp=1697926406~hmac=9297a0b9557c4f95c5a05141c0054f8f78d1452382b4b3e74542894f1df3af0d"); */
  /* background-image: url("https://img.freepik.com/free-photo/top-view-clear-ocean-water-texture_23-2149132375.jpg?w=826&t=st=1697925810~exp=1697926410~hmac=c62de00bfae07c4fa4b445ee28bb124b59052e1ef77aac5e0c086b6b088683e1"); */
  /* background-image: url("https://img.freepik.com/premium-photo/grunge-background-with-space-text-image_196038-14665.jpg?w=740"); */
  /* background-image: url("https://img.freepik.com/free-vector/abstract-soft-blue-watercolor-texture-design-background_1055-17600.jpg?w=740&t=st=1697925410~exp=1697926010~hmac=c79a5ac2775bd65cfa9d8be11ecc89fa0fd22d4053fe725b5f5abf9ea527bc2b"); */
  /* background-image: url("https://img.freepik.com/free-vector/pastel-blue-banner-background_1048-11857.jpg?w=1060&t=st=1697925173~exp=1697925773~hmac=6229a22a1a3fe7df77812d5decdaaf11181bf450cf52dfd8c96054423e8bf695");
  /* background-image: url("https://img.freepik.com/premium-vector/multicolored-layer-applying-photos-backgrounds-textures_273893-2099.jpg?w=740"); */
  /* background-image: url("https://img.freepik.com/free-photo/blue-sky-clouds-watercolor-texture-background_1409-1216.jpg?w=826&t=st=1697925233~exp=1697925833~hmac=8b5f1ddbd7013f428aa0929d6cccdefa038c135e8256df0cadb1fe1867eb9a1b"); */
  /* https://images.pexels.com/photos/167699/pexels-photo-167699.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.page {
  text-align: center;
  align-content: center;
}
