body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://img.freepik.com/free-photo/macro-shot-transparent-liquid-splash-with-empty-space_23-2148469592.jpg?w=996&t=st=1697926012~exp=1697926612~hmac=1f88d114187c81f4497dd565bffc299d613a727555e4b6fbbfdcbe0f97a15ce4");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.page {
  text-align: center;
  align-content: center;
}
