.Button {
  cursor: pointer;
  border-radius: 20px;
  border-width: 0;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 12px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.addPage {
  margin: 20px;
  line-height: 25px;
  width: 150px;
  background-color: rgba(81, 123, 212, 0.15);
}

button.Add {
  margin: 10px;
  color: #333333;
  display: inline-block;
  background-color: rgba(78, 155, 107, 0.05);
  line-height: 20px;
  list-style: none;
  transition: all 200ms;
}

button.Close {
  margin: 10px;
  color: #000000;
  background-color: rgba(109, 109, 109, 0.5);
}

button.Update {
  margin: 10px;
  color: #000000;
  background-color: rgba(67, 138, 91, 0.5);
}

button.Retry {
  position: absolute;
  left: 45%;
  height: 50px;
  width: 120px;
  color: #fff;
  background-color: #2d70d6;
  border-color: #0d6efd;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  outline: 0;
  text-align: center;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 16px;
  border-radius: 0.25rem;
}
