.Button {
  cursor: pointer;
  border-radius: 20px;
  border-width: 0;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 12px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.main {
  margin: 20px;
  line-height: 25px;
  width: 150px;
  background-color: rgba(81, 123, 212, 0.15);
}

button.Add {
  margin: 10px;
  color: #333333;
  display: inline-block;
  background-color: rgba(78, 155, 107, 0.05);
  line-height: 20px;
  list-style: none;
  transition: all 200ms;
}

button.Close {
  margin: 10px;
  color: #000000;
  background-color: rgba(109, 109, 109, 0.5);
}

button.Update {
  margin: 10px;
  color: #000000;
  background-color: rgba(67, 138, 91, 0.5);
}

button.Retry {
  position: absolute;
  left: 43%;
  height: 50px;
  width: 120px;
  background-color: rgba(81, 123, 212, 0.15);
}
