.page {
  text-align: center;
}

.title {
  color: rgb(65, 92, 165);
  font-family: "Trocchi", serif;
  font-size: 45px;
  font-weight: normal;
  line-height: 48px;
  margin-bottom: 20px;
}

label {
  color: rgb(65, 92, 165);
  font-family: "Trocchi", serif;
  font-weight: normal;
  margin: 0;
  font-size: 25px;
  width: 140px;
}

.blockInput {
  display: inline-block;
}

.login {
  margin: auto;
  text-align: center;
  padding: 150px 0;
}

.loginText {
  margin-top: 30px;
}

div.descr {
  max-width: 1200px;
  margin: 0 auto;
}
